{% extends 'registration/base.html' %}

{% block main %}
<h3>新しいパスワードの設定</h3>
<div style="text-align: center; background-color:rgb(243, 243, 243); margin-top: 0; z-index: -1;">
<br>
    {% comment %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="パスワードを設定する">
</form>
{% endcomment %}
<form method="post">
{% csrf_token %}
<p>
<label for="id_new_password1">■　新しいパスワード</label><br>
<input type="password" name="new_password1" autocomplete="new-password" required aria-describedby="id_new_password1_helptext" id="id_new_password1">
    
<span class="helptext" id="id_new_password1_helptext">
    <ul>
        <i class="fas fa-check"></i>　あなたの他の個人情報と似ているパスワードにはできません。</br>
        <i class="fas fa-check"></i>　パスワードは最低 8 文字以上必要です。<br>
        <i class="fas fa-check"></i>　よく使われるパスワードにはできません。<br>
        <i class="fas fa-check"></i>　数字だけのパスワードにはできません。<br>
    </ul>
</span>  
</p>

<p>
<label for="id_new_password2">■　新しいパスワード(確認用)</label><br>
<input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2">
</p>
<input type="submit" value="パスワードを設定する">
</form>
<br>
<br>
</div>
{% endblock %}